{% include "header.html" %}

<div class="jumbotron clearfix subpage">
  <div class="col-md-10">
    <h2>Add item to "{{category.name}}"</h2>
  </div>

  <div class="col-md-2">
  {%if creator %}
    <figure class="creator">
      <img src="{{ creator.picture}}">
      <figcaption>{{ creator.name }}</figcaption>
    </figure>
  {% endif %}

  </div>
</div>

<div class = 'flash'>
  {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
      {% for message in messages %}
      <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}

</div>

<div class="row">
  <div class="container">

    <form action="{{ url_for('addItem', category_id=category.id) }}" method='post'>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <div class="form-group">
        <label for="name">Item Title</label>
        <input name="name"  class="form-control" placeholder="Item Title" size="30">
      </div>

      <div class="form-group">
        <label for="contact_name">Contact name</label>
        <input name="contact_name" class="form-control" placeholder="Contact name" size="30"></p>
      </div>

      <div class="form-group">
        <label for="contact_number">Contact Number</label>
        <input name="contact_number" class="form-control" placeholder="Contact Number" size="30">
      </div>

      <div class="form-group">
        <label for="Item price">Item Price</label>
        <input name="price" class="form-control" placeholder="Item price" size="30">
      </div>

      <div class="form-group">
        <label for="image url">Item image url</label>
        <input name="image" class="form-control" placeholder="Item image url" size="30">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" class="form-control" placeholder="Description" cols="60" rows="3"></textarea>
      </div>

      <button type="submit" class="btn btn-default">Submit</button>

    </form>

  </div>
</div>

{% include "footer.html" %}
