{% include "header.html" %}

<div class="jumbotron clearfix subpage">
  <div class="col-md-10">
    <h1>Edit category {{category.name}}:</h1>
  </div>

  <div class="col-md-2">
  {%if creator %}
    <figure class="creator">
      <img src="{{ creator.picture}}">
      <figcaption>{{ creator.name }}</figcaption>
    </figure>
  {% endif %}

  </div>
</div>

<div class = 'flash'>
  {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
      {% for message in messages %}
      <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}

</div>

<div class="row">
  <div class="container">
    <h3></h3>

    <form action="{{ url_for('editCategory', category_id=category.id) }}" method='post'>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <div class="form-group">
        <label for="name">Category Name</label>
        <input name="name" class="form-control" value="{{category.name}}" size="30">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>

    </form>

  </div>
</div>

{% include "footer.html" %}
